header {
	background-color: #9e9e9e;
	}

h1, h2 {
	font-variant: small-caps;
}

h1 {
	color: #def5ed;
	text-align: center;
 }

h2 {
	color: #6e00ff;
 }

a {
	background-color: #dfe3e4;
	color: #a127b0;
}

aside {
	display: none;
}
