header {
	background-image: url(../images/flywheel.jpg);
	background-color: #08a92f;
	height: 250px;
	}

h1, h2 {
	text-transform: uppercase;
}

h1 {
	color: #def5ed;
	text-align: center;
 }

h2 {
	color: #6e00ff;
 }

a {
	background-color: #dfe3e4;
	color: #a127b0;
}

section {
	background-color: #bbc1bf;
}

/* This removes the images*/

aside {
	display: none;
}
